body {
  font-family: sans-serif;
}

.calendar-container {
  display: flex;
  overflow: hidden;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 10%;
  line-height: 0.9em;
}

.events-container {
  display: inline-block;
  background: #E7E7E7;
  width: 85%;
  margin: 10px;
  padding: 0px 10px;
  overflow: hidden;
}

.event-container {
  background: darkblue;
}

.event {
  background: white;
  margin-left: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

p {
  margin-bottom: -20px;
  padding-left: 5px;
  color: darkblue;
  font-size: 20px;
}

span {
  color: black;
  font-size: 80%;
}

.time {
  margin-top: 5px;
  height: 100px;
}
